@*
    @{
        ViewBag.Title = "CartItem";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>CartItem</h2>

*@
<a href="/Cart" id="a-cart"
   class="btn btn-outline-primary">Xem giỏ hàng</a>

@Html.Raw(Model)
