<!--<ul class="dropdown-item">-->
@*<li class="active">
        @Html.ActionLink("Home", "Index")
    </li>*@
<!--@Html.Raw(Model)
</ul>-->

@*<a class="dropdown-item" href="#">@Html.Raw(Model)</a>*@

@Html.Raw(Model)