/*.body {
    margin-top: 56px;
}*/
/* width */
/*::-webkit-scrollbar {
    display: none;
}

input.file {
    width: 60px;
    height: 28px;
    border: 1px solid #bbb;
    outline: none;
    opacity: 0;
    cursor: pointer;
}*/