
@{
    ViewBag.Title = "Sửa nhà cung cấp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container m-5" style="height: 100%">
    @using (Html.BeginForm("EditNhaCungCap", "QuanTriNhaCungCap", FormMethod.Post))
    {
        if (Model != null)
        {

    <div class="container" style="height: 100%">
        <div class="form-group">
            <label for="exampleInputEmail1">Tên nhà cung cấp</label>
            <input type="text" placeholder="Tên danh mục" id="tenncc" class="form-control" name="tenncc" value="@Model.TenNhaCungCap" />
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Số điện thoại liên hệ</label>
            <input type="text" placeholder="Tên danh mục" id="lienhe" class="form-control" name="lienhe" value="@Model.LienHe" />
        </div>
        <button type="submit" name="saveclose" class="btn btn-outline-primary">Lưu và đóng</button>
        <button type="submit" name="cancel" class="btn btn-danger">Huỷ</button>
    </div>
        }
    }
</div>